<div class="container-narrow">
  <div class="masthead">
    <%= render 'layouts/user_header' %>
    <h3 class="muted"><%= link_to "Tweet Application", root_path %></h3>
    <h5 class="muted">Lets you see what's on others mind!! </h5>
  </div>
  <hr />
  <%= yield %>
</div>